@media screen and (min-width: 850px) and (max-width: 1440px) and (orientation: portrait) {
    .galleria {
        height: 70vh;
    }
}

@media screen and (max-width: 1080px) and (orientation: landscape) {
    .header h1 {
        font-size: 8rem;
    }

    .next, .prev {
        padding: 1rem;
        font-size: 2.5rem;
        top: calc(50% - 1rem);
    }

    .prev:hover, .next:hover {
        backdrop-filter: none;
        background: none;
    }

    iframe {
        height: 80%;
        aspect-ratio: 2/1;
    }

    .chi-sono {
        height: 110vh;
    }

    .chi-sono p {
        padding: 1rem 5%;
    }

    .carousel {
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 1080px) and (orientation: portrait) {

    .header h1 {
        font-size: 7.5rem;
        margin-top: 2rem;
    }
    
    .header h2 {
        font-size: 3rem;
        margin-top: 2.5rem;
    }

    .header img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .navbar ul {
        display: none;
        position: relative;
    }

    .navbar-menu {
        display: inline-block;
        cursor: pointer;
        z-index: 150;
        position: fixed;
    }

    .side-navbar {
        display: flex;
        height: 100vh;
        background-color: white;
        width: 70%;
        position: fixed;
        z-index: 145;
        transform: translateX(-100%);
        transition: 0.5s;
        padding: 7rem 2rem;
    }

    .side-navbar ul {
        list-style-type: none;
    }

    .side-navbar ul li {
        padding: 0.75rem;
        background: var(--gradient);
        background: var(--webkit-gradient);
        background-clip: text;
        -webkit-background-clip: text; /* For older browsers */
        color: transparent;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .move {
        transform: translateX(0);
    }

    .chi-sono h2 {
        font-size: 2.5rem;
    }

    .chi-sono p {
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 2.5rem;
    }

    .chi-sono div:first-child {
        padding: 2rem;
        height: 30%;
    }

    .chi-sono div:last-child {
        height: 70%;
    }

    .galleria {
        height: 50vh;
    }

    .carousel {
        width: 80%;
        height: auto;
    }

    .next, .prev {
        padding: 1rem;
        font-size: 2.5rem;
        top: calc(50% - 2rem);
    }

    .prev:hover, .next:hover {
        backdrop-filter: none;
        background: none;
    }

    iframe {
        height: 100%;
        height: auto;
        aspect-ratio: 10/8;
    }

    .dove-siamo div:first-child {
        height: 30%;
        gap: 2.5rem;
    }

    .dove-siamo div:last-child {
        height: 70%;
    }

    .dove-siamo a {
        font-size: 1.75rem;
        text-align: center;
    }

    .location {
        width: 80%;
        padding: 1.5rem;
    }

    .dove-siamo p {
        font-size: 2rem;
    }

    .contatti div:last-child {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width: 500px) {

    .header h1 {
        font-size: 3rem;
        margin-top: 1rem;
    }
    
    .header h2 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    
    .header img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .side-navbar ul li {
        padding: 0.5rem;
        font-size: 1.2rem;
    }

    .chi-sono div:first-child {
        height: 25%;
        padding: 1rem;
    }

    .chi-sono div:last-child {
        height: 75%;
        padding: 1rem;
    }

    .chi-sono h2 {
        font-size: 1.5rem;
    }

    .chi-sono p {
        font-size: 1rem;
        line-height: normal;
        padding: 0.5rem;
    }

    .galleria {
        height: 40vh;
    }

    .carousel {
        height: auto;
        width: 80%;
    }

    .info {
        padding: 5rem 2.5rem;
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .next, .prev {
        padding: 1rem;
        top: calc(50% - 2rem)
    }

    .prev:hover, .next:hover {
        backdrop-filter: none;
        background: none;
    }

    .dove-siamo {
        height: 70vh;
    }

    .dove-siamo p, .dove-siamo a {
        font-size: 1.25rem;
        text-align: center;
    }

    .location {
        width: 80%;
        padding: 1rem;
    }

    iframe {
        height: 80%;
        aspect-ratio: 1/1;
        height: auto;
    }

    .contatti p {
        font-size: 2rem;
    }

    .contatti div {
        flex-direction: column;
        gap: 1.5rem;
        font-size: 1.25rem;
    }
}

@media screen and (max-height: 750px) {
    .chi-sono {
        height: 115vh;
    }
}

@media screen and (max-height: 700px) {
    .chi-sono {
        height: 125vh;
    }
}